<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MtimeFilmInfoTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MtimeFilmInfoT">
        <id column="UUID" property="uuid" />
        <result column="film_id" property="filmId" />
        <result column="film_en_name" property="filmEnName" />
        <result column="film_score" property="filmScore" />
        <result column="film_score_num" property="filmScoreNum" />
        <result column="film_length" property="filmLength" />
        <result column="biography" property="biography" />
        <result column="director_id" property="directorId" />
        <result column="film_imgs" property="filmImgs" />
    </resultMap>

    <resultMap id="FilmInfoResultMap" type="com.stylefeng.guns.api.film.vo.FilmInfoVO">
        <result column="UUID" property="filmId" />
        <result column="film_type" property="filmType" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="score" />
        <result column="film_name" property="filmName" />
        <result column="film_cats" property="catId" />
    </resultMap>

    <resultMap id="FilmDetailResultMap" type="com.stylefeng.guns.api.film.vo.FilmDetail">
        <id column="UUID" property="filmId" />
        <result column="film_name" property="filmName" />
        <result column="film_en_name" property="filmEnName" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="score" />
        <result column="film_box_office" property="totalBox" />
        <result column="film_cats" property="filmCats" />
        <result column="film_source" property="filmSource" />
        <result column="film_score_num" property="scoreNum" />
        <result column="film_length" property="filmLength" />
        <result column="film_time" property="filmTime" />
    </resultMap>

    <select id="getFilms" resultMap="FilmInfoResultMap">
        select
        UUID, film_type, img_address, film_name, film_score, film_cats
        from mtime_film_t
        where film_status = ${showType}
    </select>

    <select id="getFilmDetailByFilmId" resultMap="FilmDetailResultMap">
        select
	    mf.UUID, mf.film_name, mfi.film_en_name, mf.img_address, mf.film_score, mfi.film_score_num, mf.film_box_office,
	    mf.film_cats, mf.film_source, mfi.film_length, mf.film_time
        from mtime_film_t mf
        left join mtime_film_info_t mfi on mfi.film_id = mf.UUID
		where mf.UUID = #{filmId}
    </select>

    <select id="getFilmDetailByFilmName" resultMap="FilmDetailResultMap">
        select
        mf.UUID, mf.film_name, mf.film_type, mf.img_address, mf.film_score, mfi.film_score_num, mf.film_box_office, mf.film_cats,
        mf.film_source
        from mtime_film_t mf
        left join mtime_film_info_t mfi on mfi.film_id = mf.UUID
        where mf.film_name = #{filmName}
    </select>

</mapper>
